DATABASE_URL=
HOST=
PORT=
DATABASE=
USER=
PASSWORD=
GROQ_API_KEY=

SMTP_PASSWORD=
SMTP_EMAIL=
SMTP_HOST=
SMTP_PORT=



REDIS_HOST
REDIS_PORT=
REDIS_DECODE_RESPONSES=
REDIS_USERNAME=
REDIS_PASSWORD=


FRONTEND_URL=