fastapi
pydantic
pyjwt
uvicorn
sqlalchemy
python-dotenv
psycopg2-binary
asyncpg
dotenv
requests
cloudinary
python-multipart

pydantic[email]
passlib[bcrypt]
bcrypt==4.0.1

langchain
langchain-ollama
langchain-community


